/* .App {
  text-align: center;
} */

.body{
/* background-image:url(./images/background.jpg);
background-repeat: no-repeat;
   height: 600px;
  width: 100%;
   background-size: cover; */
   background-color: #49c478;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
}

.myFormDiv{
  min-height: 120vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.inline-item{
  display: inline;
  /* margin-right: 20px; */
}

.box-quiz{
  margin-top: 20px;
  /* margin-left: 50px; */
  /* text-align: center; */
}

.quiz-body{
  margin-left: 50px;
  color: white;
  /* padding: 20px; */
  /* float: right; */
  width: 60%;
}

.panel-card{
  color: black !important;
  margin-top: 20px;
}

.myBtnQuiz1{
  margin-top: 50px;
  /* float: right; */
  align-self: center;
  /* margin-right: 50px; */
}

.quiz-menu{
  background-color: white;
  /* float: left; */
  width: 20%;
  padding: 10px;
  min-height: 112vh;
  /* justify-self: baseline; */
  margin-bottom: -20px;
  /* margin-right: 20px; */
}

.productkey-div{
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
  margin-top: 100px;
  color: white;
  text-align: center;
}

.prdctBtn{
  width:100%;
  margin-top: 10px;
  color: black;
  background-color: white;    
}

.courseBtn{
  float: right;
  /* display: inline-block; */
}

.test{
  /* background-color: blue; */
  /* margin-left: 0px; */
  /* margin-top: -200px; */
  margin:20px;
}

.form-heading{
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em !important;
  /* margin-left: 50px; */
  margin-bottom: -10px;
  color: green;
  justify-content: center; 
  align-self: center;
  text-align: center; 
}

.info{
  justify-content: center; 
  align-self: center;
  text-align: center;
  color: gray;
}

.formReg{
  background-color: white;
  border-radius: 5px;
  justify-content: center; 
  align-self: center ;
  padding: 20px;
}
.regBtn{
  /* align-self: center; */
  background-color: green !important;
  color: white !important;
  width: 50%; 
}

.btnDiv{
  text-align: center;
  margin-top: 20px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
