/* .App {
  text-align: center;
} */

.body{
/* background-image:url(./images/background.jpg);
background-repeat: no-repeat;
   height: 600px;
  width: 100%;
   background-size: cover; */
   background-color: #49c478;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  justify-content: center;
  /* font-size: calc(10px + 2vmin); */

}

.test{
  background-color: blue;
}

.form-heading{
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em !important;
  /* margin-left: 50px; */
  margin-bottom: -10px;
  color: green;
  justify-content: center; 
  align-self: center;
  text-align: center; 
}

.info{
  justify-content: center; 
  align-self: center;
  text-align: center;
  color: gray;
}

.formReg{
  background-color: white;
  border-radius: 5px;
  justify-content: center; 
  align-self: center ;
  padding: 20px;
}
.regBtn{
  /* align-self: center; */
  background-color: green !important;
  color: white !important;
  width: 50%; 
}

.btnDiv{
  text-align: center;
  margin-top: 20px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
